node_modules
dist
dist-ssr
*.local
.DS_Store
.vite
.vs-cache
gen/
.env
.env.local
fdtlMemeMaker/.fingerprints.txt
fdtlMemeMaker/ui/

**/jsconfig.json
**/.fingerprints.txt
.vscode
**/gen/cache/**
.c3nbrc.js
